@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster.eot?') format('eot');
}



.header > .header-text {
    position: absolute;
    margin: 69px 32%;
}
.images-container {
    width: 1050px;
}
.images-middle {
    width: 1050px;
}
.images-inner {
    width: 60%;
}
.images-inner > a:hover {
    filter: alpha(opacity=50);
}